@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family:"roboto", Arial, Helvetica, sans-serif;
}
#head{
    width: 100%;   
}
#logo{
    padding-left: .5rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo>a{
    color: white;
    padding-right: .8rem;
}
.space{ /*df jcsb*/
    width: 100%;
}
#jeans{
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    font-size: 1.2rem;
}
#jeans>i{
    padding:.1rem
}
#jeans button{
    background-color: white;
    border: none;
    font-size: 1.2rem;
}
#menu{/* df fldc*/
    display: none;
}
.slider{
    color: white;
    height: 35vh;
    background-image: url(../img/jeans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.slider h2{
    font-size: 2.2rem;
    padding-top: 2rem;
    padding-left: 1rem;
}
.slider p{
    margin: .9rem 0;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.slider button{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.8rem;
}
/*section cards*/
.mini{
    width: 47.5%;
    margin: 0 auto;
    margin-bottom: .7rem;
}
.mini img{
    width: 100%;
}
.new{
    background-color: black;
    color: white;
    position: absolute;
    font-size: 1.5rem;
}
.sale{
    background-color: black;
    color: white;
    position: absolute;
    font-size: 1.5rem;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#items p:nth-child(1){
    color: gray;
    margin: .4rem 0;
    padding-left: .3rem;
}
/*section subscribe*/
#subscribe{
    color: white;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    padding-left: 0.8rem; 
    padding-bottom: 2rem;
}
#subscribe h3{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: .6rem;   
}
#subscribe p{
    font-size: 1.4rem;
}
.align{
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}
.align button{
    background-color: red;
    color: white;
    width: 35%;
    padding: .7rem 0;
    font-size: 1rem;
    font-weight: bold;
}
.align input{
    padding: .7rem;
}
/*section contact*/
#contact{
    width: 100%;
    background-color: rgb(182, 181, 181);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h3{
    font-size: 2rem;
    padding-bottom: .4rem;
}
.contact p{
    font-size: 1.4rem;
}
.parent{
    width: 95%;
   
}
.parent input{
    width: 99%;
    margin: .2rem 0;
    padding: .3rem 0;
    padding-left: .4rem;
}
.parent button{
    width: 100%;
    margin: .2rem auto;
    padding: .3rem 0;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.store{
    display: flex;
    justify-content: space-around;
}
.store ul{
    list-style-type: none;
}
.store a{
    text-decoration: underline;
    color: black;
}
.store h3{
    color: rgb(105, 105, 105);
    padding:.2rem;
    font-size: 1.8rem;
}
.store p{
    color: rgb(105, 105, 105);
    padding:.1rem;
}
.mouv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color{
    color: rgb(105, 105, 105);
    padding: .5rem;
}
.color i{
    padding:.2rem .2rem;
}
.store li{
    padding: .3rem 0;
}
/*footer*/
footer{
    background-color: black;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*fin*/